@charset "utf-8";

@font-face {
  font-family: 'ONE-Mobile-Title';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ONE-Mobile-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ONE-Mobile-POP';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*variable*/
$font1 : 'ONE-Mobile-Title';
$font2 : 'ONE-Mobile-Regular';
$font3 : 'ONE-Mobile-POP';

/*base*/
a {text-decoration: none; display: inline-block;}

/*header*/
header {
  width: 100%; position: fixed; top: 0; left: 0; z-index: 10;
  height: 100px;
  .top {
    padding: 0 16em; display: flex; justify-content: space-between; align-items: center;
    position: relative;
    #logo {
      width: 9%;
      a {
        img {width: 100%;}
      }
    }
    #gnb {
      & > ul {
        width: 100%; max-width: 913px; display: flex; justify-content: space-between;
        & > li {
          border-bottom: 2px solid transparent; padding: 2.36em 0 2.68em 0;
          transition: all .2s ease-in-out; margin-right: 3.7em;
          &:last-child {margin-right: 0;}
          &:hover {border-color: #34592E;}
          #sub {
            display: flex; flex-direction: column; position: absolute; top: 100%; height: 35%;
            transition: all .2s ease-in-out; opacity: 0; visibility: hidden; margin-top: 2em;
            li {
              margin: .3em 0;
              a {
                color: #333; font-family: $font2; font-size: 1rem; margin-bottom: .13em;
                border-bottom: 2px solid transparent; transition: all .2s ease-in-out;
                &:hover {color: #34592E; font-weight: 900; border-color: #34592E;}
              }
            }
          }
        }
      }
      .sub_background {
        width: 100%; height: 55vh; background-color: #fff; z-index: -1;
        position: absolute; top: -55vh; left: 0; transition: all .2s ease-in-out;
      }
      a {
        color: #333; font-family: $font2; font-size: 1.25rem; font-weight: bold;
        &:hover {color: #34592E;}
      }
      &:hover {
        .sub_background {top: 0;}
        #sub {opacity: 1; visibility: visible;}
      }
    }
    #search {
      img {
        width: 1.7em; vertical-align: 2px; color: #333; cursor: pointer; transition: all .3s;
        &:hover {transform: scale(1.5);}
      }
      #link {
        width: 1.5%; position: absolute; top: 35%; right: 14%;
        img {width: 100%;}
        #close_icon {display: none;}
        &.active {
          #search_icon {display: none;}
          #close_icon {display: block;}
        }
      }
      #search_area {
        width: 100%; height: 100%; position: absolute; top: 0; left: 0;
        background: #fff; text-align: center; z-index: -10; opacity: 0;
        visibility: hidden; transition: all .4s;
        input {
          font-size: 1.25rem; line-height: 1.25; width: 30%; height: 50%;
          padding: .63em; margin: 1.3em 0; border: 4px solid #34592E;
          border-radius: 30px;
        }
        img {width: 3%; vertical-align: -23px; margin-left: .94em;}
        &.active {top: 100%; opacity: 1; visibility: visible; z-index: 1;}
      }     
    }
    .mobile_btn {
      width: 4.6%; position: absolute; top: 25%; right: 3%; display: none;
      img {width: 100%;}
    }
    .mobile_gnb {     
      #mg_area {
        &.active {right: 0%;}
        width: 28%; height: 100vh; background: #fff;
        display: none; justify-content: flex-start; flex-direction: column; gap: 10px;
        text-align: right; padding: 5em 2em 0 0; transition: all .2s ease-in-out;
        position: absolute; top: 0; right: -28%;
        .mobile_menu {
          font-size: 2rem; cursor: pointer;
          .mobile_sub {
            display: none; padding: 1em 0; transition: all .2s ease-in-out;
            font-size: 1.8rem; line-height: 1.5; cursor: pointer;
            li {
              a {color: #333;}
            }
          }
        }
        .mm1.active .ms1 {display: block;}
        .mm2.active .ms2 {display: block;}
        .mm3.active .ms3 {display: block;}
        .mm4.active .ms4 {display: block;}
        .mm5.active .ms5 {display: block;}
        .mm6.active .ms6 {display: block;}
        .mm7.active .ms7 {display: block;}
        .mobile_close {
          width: 20%; position: absolute; top: .3%; right: 11%;
          #mg_close {
            img {width: 100%;}
          }          
        }
      }
    }
  }  
  .top.scrolled {background: #fff;}
}

main {
  .swiper {
    width: 100%; height: 86.48vh; position: relative;
    .swiper-wrapper {
      display: flex; height: 100%; position: relative;
      .swiper-slide {
        flex-shrink: 0;
        img {width: 100%; height: 100%; object-fit: cover;}
        #text {
          position: absolute; top: 28%; left: 13.33%;
          padding: 3em 3em; border-radius: 15px; background: #b1b1b1aa;
          span {display: inline-block;}
          #slide_title {
            font-family: $font1; font-size: 3.75rem; color: #fff;
            padding-bottom: .42em; transform: translateX(10%); transition: all .2s ease-in-out;
            opacity: 0; visibility: hidden;
          }
          #slide_content {
            font-family: $font2; font-size: 2.5rem; color: #fff;
            transform: translateX(10%); transition: all .2s ease-in-out;
            opacity: 0; visibility: hidden;
          }
        }
        &.swiper-slide-active {
          #text {
            #slide_title {
              transform: translateX(0); opacity: 1; visibility: visible; transition-delay: .2s;
            }
            #slide_content {
              transform: translateX(0); opacity: 1; visibility: visible; transition-delay: .3s;
            }
          }
        }
      }           
    }
    .pager {
      position: absolute; z-index: 100; bottom: 10%; left: 50%;
      transform: translateX(-50%);
      span {display: inline-block; width: 10px; height: 10px; margin: 0 5px;
        border-radius: 50%; border: 1px solid #fff; cursor: pointer;}
      span.active {background: #fff;}
    }
  }
  
  .bottom_menu {
    position: absolute; bottom: 13.52%; right: 13.54%;
    ul {
      display: flex; text-align: center;
      li {
        width: 13.02vw; height: 5.56vh; background: #d9d9d9ff;
        border-radius: 10px; border: 3px solid transparent; transition: all .2s ease-in-out;
        &:nth-child(2) {margin: 0 .5em;}
        a {font-family: $font2; font-size: 1.56rem; color: #000;
          margin-top: .42em; font-weight: bold;}
        &:hover {
          border-color: #000; background: #34592E;
          a {color: #fff;}
        }
      }
    }
  }

  .right_menu {
    position: absolute; top: 30vh; right: 10.68vw;
    ul {
      display: flex; flex-direction: column; gap: .63em;
      li {
        width: 55px; height: 55px; background: #fff;
        border: 2px solid #000; border-radius: 50%; transition: all .2s ease-in-out;
        img {margin: .19em 0 0 .25em;}
        &:hover {background: #34592E;}
      }
    }
  }

  .notice_area {
    padding: 5.49% 13.54%; position: relative; font-size: 0;
    h2 {font-family: $font1; font-size: 2.81rem; color: #34592E;}
    h3 {font-family: $font2; font-size: 1.56rem; font-weight: bold; margin: 1.25em 0 2.405em 0;}
    input {display: none;}
    label {
      display: inline-block; width: 10.42vw; font-family: $font2; font-size: 1.56rem;
      text-align: center; padding: .62em 0; background-color: transparent;
      border-radius: 15px 15px 0 0;
      &:hover {
        span {
          display: inline-block;  transition: all .2s ease-in-out;
          transform: translateY(-3px) scale(1.1);
        }
      }
    }
  }

  
  .tab_contents {background-color: #34592E22; border-radius: 0 0 15px 15px; padding: 0 2.5rem;}
  #notice1 {display: flex; justify-content: space-between;}
  #notice2 {display: flex; justify-content: space-between;}
  #notice3 {display: flex; justify-content: space-between;}
  #notice4 {display: flex; justify-content: space-between;}
  #notice1 #notice_thumb1 img {width: 15.56vw; padding: 3.875rem; background: #f5f5f5;
    border-radius: 10px; margin: 4.81rem 0 2.5rem 0; border: 1px solid #666;}
  #notice #notice_thumb img {width: 15.56vw; padding: 0; background: #f5f5f5;
    border-radius: 10px; margin: 4.81rem 0 2.5rem 0; border: 1px solid #666;}
  #notice_title {color: #000; font-size: 1.13rem; font-family: $font2; font-weight: bold;
    line-height: 1.56rem;}
  #notice_date {color: #333; font-size: 1rem; font-family: $font2;
    margin: 1.25rem 0 4.8125rem 0;}
  #notice1 ul:last-child li:last-child {margin-top: 1.5625rem;}
  #notice2 ul:first-child li:last-child {margin-top: 1.5625rem;}
  #logo_char img {width: 13.8vw; height: 26.85vh; position: absolute;
    top: 18vh; right: 0;}
  #notice_title:hover {text-decoration: underline;}
  
  #tab1:checked+label {background-color: #34592E22; font-weight: bold;}
  #tab2:checked+label {background-color: #34592E22; font-weight: bold;}
  #tab3:checked+label {background-color: #34592E22; font-weight: bold;}
  #tab4:checked+label {background-color: #34592E22; font-weight: bold;}


  #notice div {display: none;}
  #tab1:checked ~ .tab_contents #notice1,
  #tab2:checked ~ .tab_contents #notice2,
  #tab3:checked ~ .tab_contents #notice3,
  #tab4:checked ~ .tab_contents #notice4 {display: flex;}

  .work {
    padding: 5.49% 13.54%; text-align: center; background: #B9D79Caa;
    #work_title {
      h2 {font-size: 2.81rem; font-family: $font1; color: #34592E;}
      h3 {font-size: 1.86rem; font-family: $font2; margin: 3.125rem 0;}
      span {font-size: 1.36rem; font-family: $font2; color: #333; line-height: 2rem;}
    }
    #work_link {
      margin-top: 9.81vh;
      ul {
        display: flex; justify-content: space-between;
        #link1 {
          a {
            position: relative;
            #work1_on {
              position: absolute; top: 0; left: 0; opacity: 0; transition: all .3s ease-in-out;
              &:hover {opacity: 1;}
            }
          }
        }
        #link2 {
          a {
            position: relative;
            #work2_on {
              position: absolute; top: 0; left: 0; opacity: 0; transition: all .3s ease-in-out;
              &:hover {opacity: 1;}
            }
          }
        }
        #link3 {
          a {
            position: relative;
            #work3_on {
              position: absolute; top: 0; left: 0; opacity: 0; transition: all .3s ease-in-out;
              &:hover {opacity: 1;}
            }
          }
        }
        #link4 {
          a {
            position: relative;
            #work4_on {
              position: absolute; top: 0; left: 0; opacity: 0; transition: all .3s ease-in-out;
              &:hover {opacity: 1;}
            }
          }
        }
        #link5 {
          a {
            position: relative;
            #work5_on {
              position: absolute; top: 0; left: 0; opacity: 0; transition: all .3s ease-in-out;
              &:hover {opacity: 1;}
            }
          }
        }
      }
    }
  }

  .sitelink {
    padding: 5.49% 13.54% 8%; text-align: center;
    #sitelink_title {
      h2 {font-size: 2.81rem; font-family: $font1; color: #34592E;}
      h3 {font-size: 1.56rem; font-family: $font2; margin: 3.125rem 0;}
    }
    #link_area {
      ul {
        display: flex; justify-content: space-between; padding: 0 4%;
        li {
          width: 5.99vw; height: 10.93vh;
          a {
            color: #000; font-family: $font2; font-size: 1.25rem; font-weight: bold;
            img {
              background: transparent; border-radius: 30px;
              transition: all .2s ease-in-out;
            }
            #link_text {width: 6.77vw; line-height: 1.56rem;}
          }
          &:hover {
            img {background: #B9D79Caa;}
          }
        }
      }
    }
  }
   
  .media {
    padding: 5.49% 13.54%; display: flex; justify-content: space-between; position: relative;
    #video_area {
      width: 39.58%; max-width: 760px; display: flex; flex-direction: column;
      iframe {width: 34.84vw; height: 44.6vh; border-radius: 30px;}
      h3 {
        width: 29.58vw; font-size: 1.56rem; font-family: $font2; font-weight: bold;
        white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
        margin: 1.25rem 0 0 5.81rem;
      }
      &::before {
        content:""; width: 33.28vw; height: 43vh;
        border: 1px solid #d9d9d9; position: absolute; top: 20vh; left: 16.93vw;
        border-radius: 30px; z-index: -1; transition: all .2s ease-in-out;
      }
      &:hover::before {background: #B9D79Caa;}
    }
    #right_area {
      width: 46.88%; display: flex; flex-direction: column; justify-content: space-between;
      #media_title {
        h2 {
          font-size: 2.81rem; font-family: $font1; color: #34592E;
          span {color: #000;}
          a {
            img {
              vertical-align: top; transition: all .2s ease-in-out;
              &:hover {transform: translateY(-5px);}
            }
            #youtube_icon {margin: 0 .625rem 0 2.8125rem;}
          }
        }
      }
      #blog {
        ul {
          display: flex; justify-content: space-around;
          li {
            width: 14.58vw; height: 39.3vh; box-shadow: 4px 4px 9px #00000033;
            border-radius: 20px; position: relative;
            a {
              #blog_title {
                font-family: $font2; font-size: 1.2rem; font-weight: bold; color: #000;
                padding: 90% 0 5% 4%; display: inline-block; line-height: 1.2;
              }
              #blog_date {
                font-family: $font2; font-size: 1rem; color: #666;
                padding-left: .6875rem;
              }
              #blog_s {
                position: absolute; top: 0; right: 0; margin: 1.0625rem 1.0625rem 0 0;
              }
            }
          }
          #blog1 {
            transition: all .2s ease-in-out;
            background: url("../images/blog_image1.jpg") no-repeat top/127%;
            &:hover {transform: scale(1.1);}
          }
          #blog2 {
            transition: all .2s ease-in-out;
            background: url("../images/blog_image2.jpg") no-repeat top/100%;
            &:hover {transform: scale(1.1);}
          }
        }
      }
    }
  }
}

footer {
  .bottom {
    padding: 0 13.54% 0 13.54%; background: #f5f5f5;
    #bottom_link {
      display: flex; gap: 3%; padding: 1rem 0 1rem 0;
      border-bottom: 1px solid #d9d9d9; justify-content: flex-start;
      li {
        a {
          font-family: $font2; font-size: .9rem; color: #333;
          &:hover {color: #000; font-weight: bold;}
        }
      }
    }
    #bottom_info {
      padding: 1rem 0 1rem 0; display: flex; justify-content: space-between;
      #info1 {
        #address {
          font-family: $font2; font-size: .8rem; font-weight: bold; color: #666;
          line-height: 1.375rem;
          span {font-family: 'Arial';}
        }
      }
      #info2 {
        #links {
          width: 16.93vw; display: flex; justify-content: space-between; padding-top: 1.5rem;
          mix-blend-mode: multiply;
          li {
            &:first-child img {width: 3.44rem; height: 2.44rem;}
            &:nth-child(2) img {width: 2.13rem; height: 2.44rem;}
            &:nth-child(3) img {width: 3.5rem; height: 2.44rem;}
            &:nth-child(4) img {width: 3.63rem; height: 2.44rem;}
            &:last-child img {width: 1.67vw; height: 2.44rem;}
          }
        }
      }
    }
  }

  .footer_slide {
    width: 100%; height: 7.26vh; background: #d9d9d9; padding: 0 13.54%; position: relative;
    .link_swiper {
      width: 61.67vw; overflow: hidden; padding: 1.87vh 0 1.96vh 1.51vw;
      .link_wrapper {
        display: flex; height: 100%; align-items: center; mix-blend-mode: multiply;
        .link_slide {flex-shrink: 0;}
      }      
    }
    .swiper-button-prev {
      position: absolute; bottom: 39%; right: 18%; z-index: 10; cursor: pointer;
    }
    .swiper-button-next {
      position: absolute; bottom: 39%; right: 16%; z-index: 10; cursor: pointer;}
    .button {
      width: 5.68%; height: 37%; border: 1px solid #34592E;
      border-radius: 30px; position: absolute; bottom: 31.5%; right: 14.4%;
    }
  } 
}

@media (max-width: 1024px){
  header {
    .top {
      padding: 1em;
      #logo {
        width: 20%;
        a {
          img {width: 100%;}
        }
      }
      #gnb {display: none;}
      #search {display: none;}
      .mobile_btn {display: block;}
      .mobile_gnb {
        #mg_area {display: flex;}
      }
    }
  }
  main {
    .swiper {
      height: 100%;
      .swiper-wrapper {
        .swiper-slide {
          #text {
            left: 8%; padding: 1.5em 1.5em;
            #slide_title {font-size: 2.75rem;}
            #slide_content {font-size: 2rem;}
          }
        }
      }
      .pager {
        top: 85%; height: 4%;
        span {width: 15px; height: 15px;}
      }
    }
    .bottom_menu {
      top: 43%;
      ul {
        li {
          width: 24vw; height: 43px;
          a {width: 100%; font-size: 1.5rem; margin-top: .24em;}
        }
      }
    }
    .right_menu {
      top: 13%; left: 92%;
    }
    .notice_area {
      padding: 4rem 1rem;
      h2 {font-size: 3rem;}
      h3 {font-size: 2rem; margin-bottom: 1.25em;}
      label {
        border-radius: 8px 8px 0 0; font-size: 2rem; width: 20%; padding: .5em 0;
      }
    }
    .tab_contents {border-radius: 0 0 8px 8px; padding: 0 1.5rem;}
    #notice1 {flex-wrap: wrap; justify-content: space-around;}
    #notice2 {flex-wrap: wrap; justify-content: space-around;}
    #notice3 {flex-wrap: wrap; justify-content: space-around;}
    #notice4 {flex-wrap: wrap; justify-content: space-around;}
    #notice1 ul {width: 45%;}
    #notice2 ul {width: 45%;}
    #notice3 ul {width: 45%;}
    #notice4 ul {width: 45%;}
    #notice1 #notice_thumb1 img {
      width: 41.3vw; padding: 5.5rem; border-radius: 10px; margin: 2rem 0 2rem 0;
    }
    #notice #notice_thumb img {
      width: 41.3vw; padding: 0;
      border-radius: 10px; margin: 2rem 0 2rem 0; border: 1px solid #666;
    }
    #notice_title {font-size: 1.5rem; line-height: 1.4;}
    #notice_date {font-size: 1.5rem; margin-bottom: 2rem;}
    #notice1 ul:last-child li:last-child {margin-top: 1.5625rem;}
    #notice2 ul:first-child li:last-child {margin-top: 1.5625rem;}
    #logo_char img {
      width: 12vw; height: 13vh; position: absolute; top: 3vh; right: 2vw;
    }
    .work {
      padding: 4rem 1rem;
      #work_title {
        h2 {font-size: 3rem;}
        h3 {font-size: 2rem;}
        span {font-size: 1.6rem;}
      }
      #work_link {
        margin-top: 4vh;
        ul {
          flex-wrap: wrap; justify-content: space-around;
          li {          
            width: 30%; margin: 0 2em 2em 0;
            a {
              img {width: 100%;}
            }
          }
        }
      }
    }
    .sitelink {
      padding: 4rem 1rem;
      #sitelink_title {
        h2 {font-size: 3rem;}
        h3 {font-size: 2rem;}
      }
      #link_area {
        ul {
          flex-wrap: wrap; justify-content: space-around;
          li {
            width: 25%; height: 24vh;
            a {
              width: 100%;
              img {
                width: 100%;
              }
              #link_text {width: 100%; line-height: 2.4rem; font-size: 2rem;}
            }
          }
        }
      }
    }
    .media {
      padding: 4rem 0 4rem 0; flex-wrap: wrap; justify-content: space-around;
      #video_area {
        width: 90%; max-width: none; margin-bottom: 4%;
        iframe {width: 100%; height: 40vh;}
        h3 {width: 70vw; font-size: 2rem; margin: 1rem 0 0 9rem;}
        &::before {width: 86%; height: 40vh; top: 7.8vh; left: 11.8vw;}
      }
      #right_area {
        width: 90%;
        #media_title {
          margin: 3% auto 7%;
          h2 {font-size: 3rem;}
        }
        #blog {
          ul {
            flex-wrap: wrap;
            li {
              width: 45%;
              a {
                #blog_title {
                  font-size: 2rem;
                }
                #blog_date {
                  font-size: 1.8rem;
                }
                #blog_s {
                  width: 20%;
                }
              }
            }
          }
        }
      }      
    }
  }
  footer {
    .bottom {
      padding: 1rem;
      #bottom_link {
        padding-top: 0;
        li {
          a {
            font-size: 1.1rem;
          }
        }
      }
      #bottom_info {
        padding: .5rem 0 0 0;
        #info1 {
          #address {
            font-size: 1rem;
          }
        }
        #info2 {
          #links {
            width: 100%; padding: 2.6rem 2rem 0 0;
            li {
              margin-left: 3%;
              &:first-child img {width: 1.72rem; height: 1.22rem;}
              &:nth-child(2) img {width: 1.065rem; height: 1.22rem;}
              &:nth-child(3) img {width: 1.75rem; height: 1.22rem;}
              &:nth-child(4) img {width: 1.815rem; height: 1.22rem;}
              &:last-child img {width: .835vw; height: 1.22rem;}
            }
          }
        }
      }      
    }
    .footer_slide {
      height: 5vh; padding: 1rem;
      .link_swiper {
        width: 80%; padding: 0;
      }
      .swiper-button-prev {right: 11%; bottom: 38%}
      .swiper-button-next {right: 7%;bottom: 38%}
      .button {width: 9%; right: 5%;}
    }
  }
}

@media (max-width: 360px){
  header {
    .top {
      padding: .5em;
      #logo {width: 15%;}
      .mobile_btn {
        top: 15%; left: 88%; width: 8%;
        img {width: 100%;}
      }
      .mobile_gnb {
        #mg_area {
          width: 50%; right: -50%;
          .mobile_menu {
            font-size: 1.5rem;
            .mobile_sub {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
  main {
    .swiper {
      .swiper-wrapper {
        .swiper-slide {
          #text {
            top: 30%; left: 5%; padding: .5em .7em; border-radius: 8px;
            #slide_title {font-size: 1.2rem;}
            #slide_content {font-size: .8rem;}
          }
        }
      }
      .pager {
        top: 75%;
        span {width: 10px; height: 10px;}
      }
    }
    .bottom_menu {
      top: 27.8%; left: 10%;
      ul {
        li {
          width: 34vw; height: 20px; border-radius: 5px; border: none;
          &:nth-child(2) {margin: 0 .2em;}
          a {width: 100%; font-size: .6rem; line-height: 1.1;}
        }
      }
    }
    .right_menu {
      top: 8%; left: 88%;
      ul {
        gap: .2em;
        li {
          width: 30px; height: 30px;
          img {width: 70%;}
        }
      }
    }
    .notice_area {
      padding: 2rem .5rem;
      h2 {font-size: 1.5rem;}
      h3 {font-size: 1rem;}
      label {
        border-radius: 5px 5px 0 0; font-size: 1rem; width: 50%;
      }
    }
    .tab_contents {border-radius: 0 0 5px 5px; padding: .5rem .5rem 0;}
    #notice1 ul {width: 90%;}
    #notice2 ul {width: 90%;}
    #notice3 ul {width: 90%;}
    #notice4 ul {width: 90%;}
    #notice1 #notice_thumb1 img {
      width: 81vw; padding: 5.5rem; border-radius: 8px; margin: .5rem 0 .5rem 0;
    }
    #notice #notice_thumb img {
      width: 81vw; padding: 0;
      border-radius: 8px; margin: 2rem 0 2rem 0; border: 1px solid #666;
    }
    #notice_title {font-size: 1.1rem; line-height: 1.4;}
    #notice_date {font-size: 1rem; margin-bottom: 2rem; margin-bottom: 1rem;}
    #logo_char img {
      width: 9vw; height: 9vh; position: absolute; top: 3vh; right: 6vw;
    }
    .work {
      padding: 2rem .5rem;
      #work_title {
        h2 {font-size: 1.5rem;}
        h3 {
          font-size: 1rem; margin: 1.5rem auto 1.5rem; width: 70%;
          line-height: 1.3; text-align: center;
        }
        span {font-size: 1rem; line-height: 1.3; display: inline-block; width: 80%;}
      }
      #work_link {
        ul {
          li {
            width: 80%;
            a {
              img {width: 80%;}
            }
          }
        }
      }
    }
    .sitelink {
      padding: 2rem .5rem;
      #sitelink_title {
        h2 {font-size: 1.5rem;}
        h3 {font-size: 1rem; margin: 2rem 0;}
      }
      #link_area {
        ul {
          li {
            width: 45%;
            a {
              width: 90%;
              img {width: 90%;}
              #link_text {width: 100%; font-size: 1.2rem; line-height: 1.3;}
            }
          }
        }
      }
    }
    .media {
      padding: 2rem 0 2rem 0;
      #video_area {
        width: 80%;
        iframe {width: 100%; height: 30vh; border-radius: 10px;}
        h3 {width: 70vw; font-size: 1rem; margin: .5rem 0 0 2rem;}
        &::before {width: 78%; height: 30.4vh; top: 7.7vh; left: 15.4vw; border-radius: 10px;}
      }
      #right_area {
        width: 90%;
        #media_title {
          margin: 8% auto 8%;
          h2 {
            font-size: 1.5rem;
            a {
              display: inline-block; width: 15%;
              img {width: 40%; vertical-align: baseline;}
              #youtube_icon {margin: 0 .3rem;}
            }
          }
        }
        #blog {
          ul {
            li {
              width: 75vw; border-radius: 10px; margin-bottom: 3em;
              a {
                #blog_title {
                  font-size: 1.3rem; padding: 0;
                  position: absolute; bottom: 4%; left: 4%;
                }
                #blog_date {display: none;}
                #blog_s {top: 0; right: 0; width: 15%;}
              }
            }
          }
        }
      }
    }
  }
  footer {
    .bottom {
      padding: .5em 0 0 .5em;
      #bottom_link {
        flex-wrap: wrap;
        padding-bottom: .5rem;
        li {
          width: 85%;
          a {font-size: .7rem;}
        }
      }
      #bottom_info {
        flex-wrap: wrap;
        padding: .5rem 0 .5rem 0;
        #info1 {
          width: 75%;
          #address {
            font-size: .6rem; line-height: 1.3;
          }
        }
        #info2 {
          width: 75%;
          #links {
            flex-wrap: wrap; padding-top: .3rem;
            width: 60%;
            li {
              margin-left: .5%;
              &:first-child img {width: 1.72rem; height: 1.22rem;}
              &:nth-child(2) img {width: 1.065rem; height: 1.22rem;}
              &:nth-child(3) img {width: 1.75rem; height: 1.22rem;}
              &:nth-child(4) img {width: 1.815rem; height: 1.22rem;}
              &:last-child img {width: 3.835vw; height: 1.22rem;}
            }
          }
        }
      }
    }
    .footer_slide {
      padding: .5em;
      .link_swiper {
        width: 68%; padding: 0;
        .link_wrapper {
          .link_slide {
            width: 30%;
            img {width: 100%;}
          }
        }
      }
      .swiper-button-prev {right: 11%; bottom: 28%}
      .swiper-button-next {right: 7%;bottom: 28%}
      .button {width: 11%; height: 60%; right: 5%; top: 19%;}
    }
  }
}