@charset "utf-8";

@font-face {
  font-family: 'ONE-Mobile-Title';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ONE-Mobile-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ONE-Mobile-POP';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*variable*/
$font1 : 'ONE-Mobile-Title';
$font2 : 'ONE-Mobile-Regular';
$font3 : 'ONE-Mobile-POP';

/*base*/
a {text-decoration: none; display: inline-block;}

/*header*/
header {
  width: 100%; position: fixed; top: 0; left: 0; z-index: 10;
  height: 100px;
  .top {
    padding: 0 /*13.24%*/ 5%; display: flex; justify-content: space-between; align-items: center;
    position: relative;
    #logo {
      width: 9%;
      a {
        img {width: 100%;}
      }
    }
    #gnb {
      width: 70%;
      & > ul {
        width: 100%; display: flex; justify-content: space-between;
        & > li {
          border-bottom: 2px solid transparent; padding: 3% 0 3% 0;
          transition: all .2s ease-in-out;
          &:hover {border-color: #34592E;}
          a {font-size: 1vw; color: #e1e1e1;}
          #sub {
            display: flex; flex-direction: column; position: absolute; top: 100%; height: 35%;
            transition: all .2s ease-in-out; opacity: 0; visibility: hidden; margin-top: 1.5%;
            li {
              margin: .3em 0;
              a {
                color: #333; font-family: $font2; font-size: 1rem; margin-bottom: .13em;
                border-bottom: 2px solid transparent; transition: all .2s ease-in-out;
                &:hover {color: #34592E; font-weight: 900; border-color: #34592E;}
              }
            }
          }
        }
      }
      .sub_background {
        width: 100%; height: 600%; background-color: #fff; z-index: -1;
        position: absolute; top: -600%; left: 0; transition: all .2s ease-in-out;
      }
      a {
        color: #333; font-family: $font2; font-size: 1.25rem; font-weight: bold;
      }
      &:hover {
        .sub_background {top: 0;}
        #sub {opacity: 1; visibility: visible;}
        & > ul > li a {color: #333; &:hover {color: #34592E;}}
      }
    }
    #search {
      width: 2%;
      #link {
        width: 100%;
        img {width: 100%;}
        #close_icon {display: none;}
        &.active {
          #search_icon {display: none;}
          #close_icon {display: block;}
        }
      }
      #search_area {
        width: 100%; height: 100%; position: absolute; top: 0; left: 0;
        background: #fff; text-align: center; z-index: -10; opacity: 0;
        visibility: hidden; transition: all .4s;
        input {
          font-size: 1.25rem; line-height: 1.25; width: 30%; height: 50%;
          padding: .5%; margin: 1% 0; border: 4px solid #34592E;
          border-radius: 30px;
        }
        img {width: 3%; vertical-align: -23px; margin-left: 1%;}
        &.active {top: 100%; opacity: 1; visibility: visible; z-index: 1;}
      }     
    }
    .mobile_btn {
      width: 4.6%; position: absolute; top: 25%; right: 3%; display: none;
      img {width: 100%;}
    }
    .mobile_gnb {     
      #mg_area {
        &.active {right: 0%;}
        width: 28%; height: 100vh; background: #fff;
        display: none; justify-content: flex-start; flex-direction: column; gap: 10px;
        text-align: right; padding: 5em 2em 0 0; transition: all .2s ease-in-out;
        position: absolute; top: 0; right: -28%;
        .mobile_menu {
          font-size: 2rem; cursor: pointer;
          .mobile_sub {
            display: none; padding: 1em 0; transition: all .2s ease-in-out;
            font-size: 1.8rem; line-height: 1.5; cursor: pointer;
            li {
              a {color: #333;}
            }
          }
        }
        .mm1.active .ms1 {display: block;}
        .mm2.active .ms2 {display: block;}
        .mm3.active .ms3 {display: block;}
        .mm4.active .ms4 {display: block;}
        .mm5.active .ms5 {display: block;}
        .mm6.active .ms6 {display: block;}
        .mm7.active .ms7 {display: block;}
        .mobile_close {
          width: 20%; position: absolute; top: .3%; right: 11%;
          #mg_close {
            img {width: 100%;}
          }          
        }
      }
    }
  }  
  .top.scrolled {
    background: #fff;
    #gnb {
      & > ul {
        & > li {
          a {color: #111;}
        }
      }
    }
  }
}

main {
  .swiper {
    width: 100%; height: 86.48vh; position: relative;
    .swiper-wrapper {
      display: flex; height: 100%; position: relative;
      .swiper-slide {
        flex-shrink: 0;
        img {width: 100%; height: 100%; object-fit: cover;}
        #text {
          position: absolute; top: 28%; left: 11.2%; padding: 2%;
          span {display: inline-block;}
          #slide_title {
            font-family: $font2; font-size: 2vw; color: #fff; font-weight: 600;
            padding-bottom: 3%; transform: translateX(10%); transition: all .2s ease-in-out;
            opacity: 0; visibility: hidden;
          }
          #slide_content {
            font-family: $font2; font-size: 2vw; color: #fff; font-weight: 600;
            transform: translateX(10%); transition: all .2s ease-in-out;
            opacity: 0; visibility: hidden;
          }
        }
        &.swiper-slide-active {
          #text {
            #slide_title {
              transform: translateX(0); opacity: 1; visibility: visible; transition-delay: .2s;
            }
            #slide_content {
              transform: translateX(0); opacity: 1; visibility: visible; transition-delay: .3s;
            }
          }
        }
      }           
    }
    // .right_menu {
    //   position: absolute; top: 30%; right: 10%;
    //   ul {
    //     display: flex; flex-direction: column; gap: .63em;
    //     li {
    //       width: 50px; background: #fff;
    //       border: 2px solid #000; border-radius: 50%; transition: all .2s ease-in-out;
    //       img {
    //         width: 100%;
    //         margin: 10%;
    //       }
    //       &:hover {background: #34592E;}
    //     }
    //   }
    // }
    .pager {
      position: absolute; z-index: 100; bottom: 3%; left: 50%;
      transform: translateX(-50%);
      span {display: inline-block; width: 10px; height: 10px; margin: 0 5px;
        border-radius: 50%; border: 1px solid #fff; cursor: pointer;}
      span.active {background: #fff;}
    }
    .bottom_menu {
      position: absolute; bottom: 10%; left: 13%; width: 35%; 
      ul {
        display: flex; text-align: center;
        li {
          padding: 1.3% 4%; background: #fff;
          border-radius: 10px; border: 3px solid transparent; transition: all .2s ease-in-out;
          &:nth-child(2) {margin: 0 1.5%;}
          a {font-family: $font2; font-size: 1vw; color: #000;
            margin-top: .5%; font-weight: bold;}
          &:hover {
            border-color: #000; background: #34592E;
            a {color: #fff;}
          }
        }
      }
    }
  }

  .notice_area {
    padding: 5.49% 13.54%; position: relative; font-size: 0;
    h2 {font-family: $font1; font-size: 2.81rem; color: #34592E;}
    h3 {font-family: $font2; font-size: 1.56rem; font-weight: bold; margin: 3% 0 5% 0;}
    input {display: none;}
    label {
      display: inline-block; width: 15%; font-family: $font2; font-size: 1.56rem;
      text-align: center; padding: 1% 0; background-color: transparent;
      border-radius: 15px 15px 0 0;
      &:hover {
        span {
          display: inline-block;  transition: all .2s ease-in-out; cursor: pointer;
          &:hover {font-weight: 900;}
        }
      }
    }
    #tab1:checked+label {background-color: #34592E22; font-weight: bold;}
    #tab2:checked+label {background-color: #34592E22; font-weight: bold;}
    #tab3:checked+label {background-color: #34592E22; font-weight: bold;}
    #tab4:checked+label {background-color: #34592E22; font-weight: bold;}

    #tab1:checked ~ .tab_contents #notice1,
    #tab2:checked ~ .tab_contents #notice2,
    #tab3:checked ~ .tab_contents #notice3,
    #tab4:checked ~ .tab_contents #notice4 {display: flex;}

    .tab_contents {
      background-color: #34592E22; border-radius: 0 0 15px 15px; padding: 0 2%;
      #notice {
        div {display: none;}
        #notice1 {
          justify-content: space-between;
          ul:last-child li:last-child {margin-top: 7%;}
        }
        #notice2 {
          justify-content: space-between;
          ul:first-child li:last-child {margin-top: 7%;}
        }
        #notice3 {
          justify-content: space-between;
        }
        #notice4 {
          justify-content: space-between;
        }
        #notice_thumb {
          img {
            width: 15.56vw; padding: 0; background: #f5f5f5;
            border-radius: 10px; margin: 4.81rem 0 2.5rem 0; border: 1px solid #666;
          }          
        }
        #notice_title {
          color: #000; font-size: .9vw; font-family: $font2; font-weight: bold;
          line-height: 1.56rem;
        }
        #notice_date {
          color: #333; font-size: 1rem; font-family: $font2;
          margin: 1.25rem 0 4.8125rem 0;
        }
      }
      #logo_char img {
        width: 6vw; position: absolute; top: 10vh; left: 24vw;
      }
    }
  }
  
  // .tab_contents {background-color: #34592E22; border-radius: 0 0 15px 15px; padding: 0 2%;}
  // #notice1 {display: flex; justify-content: space-between;}
  // #notice2 {display: flex; justify-content: space-between;}
  // #notice3 {display: flex; justify-content: space-between;}
  // #notice4 {display: flex; justify-content: space-between;}
  // #notice1 #notice_thumb1 img {width: 15.56vw; padding: 3.875rem; background: #f5f5f5;
  //   border-radius: 10px; margin: 4.81rem 0 2.5rem 0; border: 1px solid #666;}
  // #notice #notice_thumb img {width: 15.56vw; padding: 0; background: #f5f5f5;
  //   border-radius: 10px; margin: 4.81rem 0 2.5rem 0; border: 1px solid #666;}
  // #notice_title {color: #000; font-size: 1.13rem; font-family: $font2; font-weight: bold;
  //   line-height: 1.56rem;}
  // #notice_date {color: #333; font-size: 1rem; font-family: $font2;
  //   margin: 1.25rem 0 4.8125rem 0;}
  // #notice1 ul:last-child li:last-child {margin-top: 1.5625rem;}
  // #notice2 ul:first-child li:last-child {margin-top: 1.5625rem;}
  // #logo_char img {width: 13.8vw; height: 26.85vh; position: absolute;
  //   top: 18vh; right: 0;}
  // #notice_title:hover {text-decoration: underline;}
  
  // #tab1:checked+label {background-color: #34592E22; font-weight: bold;}
  // #tab2:checked+label {background-color: #34592E22; font-weight: bold;}
  // #tab3:checked+label {background-color: #34592E22; font-weight: bold;}
  // #tab4:checked+label {background-color: #34592E22; font-weight: bold;}

  // #notice div {display: none;}
  // #tab1:checked ~ .tab_contents #notice1,
  // #tab2:checked ~ .tab_contents #notice2,
  // #tab3:checked ~ .tab_contents #notice3,
  // #tab4:checked ~ .tab_contents #notice4 {display: flex;}

  .work {
    padding: 5.49% 13.54%; text-align: center; background: #B9D79Caa;
    #work_title {
      h2 {font-size: 2.81rem; font-family: $font1; color: #34592E;}
      h3 {font-size: 1.86rem; font-family: $font2; margin: 3.5% 0 1.5%;}
      span {font-size: 1.36rem; font-family: $font2; color: #333; line-height: 1.5;}
    }
    #work_link {
      margin-top: 5%;
      ul {
        display: flex; justify-content: space-between;
        #link1 {
          a {
            position: relative; width: 13.6vw;
            img {width: 100%;}
            #work1_on {
              position: absolute; top: 0; left: 0; opacity: 0; transition: all .3s ease-in-out;
              &:hover {opacity: 1;}
            }
          }
        }
        #link2 {
          a {
            position: relative; width: 13.6vw;
            img {width: 100%;}
            #work2_on {
              position: absolute; top: 0; left: 0; opacity: 0; transition: all .3s ease-in-out;
              &:hover {opacity: 1;}
            }
          }
        }
        #link3 {
          a {
            position: relative; width: 13.6vw;
            img {width: 100%;}
            #work3_on {
              position: absolute; top: 0; left: 0; opacity: 0; transition: all .3s ease-in-out;
              &:hover {opacity: 1;}
            }
          }
        }
        #link4 {
          a {
            position: relative; width: 13.6vw;
            img {width: 100%;}
            #work4_on {
              position: absolute; top: 0; left: 0; opacity: 0; transition: all .3s ease-in-out;
              &:hover {opacity: 1;}
            }
          }
        }
        #link5 {
          a {
            position: relative; width: 13.6vw;
            img {width: 100%;}
            #work5_on {
              position: absolute; top: 0; left: 0; opacity: 0; transition: all .3s ease-in-out;
              &:hover {opacity: 1;}
            }
          }
        }
      }
    }
  }

  .sitelink {
    padding: 5.49% 13.54% 8%; text-align: center;
    #sitelink_title {
      h2 {font-size: 2.81rem; font-family: $font1; color: #34592E;}
      h3 {font-size: 1.56rem; font-family: $font2; margin: 4% 0;}
    }
    #link_area {
      ul {
        display: flex; justify-content: space-between; padding: 0 4%;
        li {
          width: 5vw;
          a {
            color: #000; font-family: $font2; font-size: 1vw; font-weight: bold; text-align: center;
            img {
              background: transparent; border-radius: 30px;
              transition: all .2s ease-in-out;
            }
            #link_text {width: 6.77vw; line-height: 1.56rem;}
          }
          &:hover {
            img {background: #B9D79Caa;}
          }
        }
      }
    }
  }
   
  .media {
    padding: 5.49% 13.54%; display: flex; justify-content: space-between; position: relative;
    #video_area {
      width: 39.58%; max-width: 760px; display: flex; flex-direction: column;
      iframe {width: 120%; height: 100%; border-radius: 30px;}
      h3 {
        width: 100%; font-size: 1.56rem; font-family: $font2; font-weight: bold;
        white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
        margin: 2% 0 0 18%;
      }
      &::before {
        content:""; width: 33%; height: 55%;
        border: 1px solid #d9d9d9; position: absolute; top: 30.8%; left: 17.4%;
        border-radius: 30px; z-index: -1; transition: all .2s ease-in-out;
      }
      &:hover::before {background: #B9D79Caa;}
    }
    #right_area {
      width: 46.88%; display: flex; flex-direction: column; justify-content: space-between;
      #media_title {
        h2 {
          font-size: 2vw; font-family: $font1; color: #34592E; margin-bottom: 10%;
          span {color: #000;}
          a {
            width: 11vw;
            img {
              width: 2vw;
              vertical-align: top; transition: all .2s ease-in-out;
              &:hover {transform: translateY(-5px);}
            }
            #youtube_icon {margin: 0 8% 0 24%;}
          }
        }
      }
      #blog {
        ul {
          display: flex; justify-content: space-around;
          li {
            width: 45%; height: 60%; box-shadow: 4px 4px 9px #00000033;
            border-radius: 20px; position: relative; display: inline-block;
            a {
              overflow: hidden; border-radius: 20px 20px 0 0;
              #blog_i1 {width: 128%;}
              #blog_i2 {width: 100%;}
              #blog_title {
                font-family: $font2; font-size: 1vw; font-weight: bold; color: #000;
                line-height: 1.2; width: 80%; display: inline-block; padding: 5% 5%;
              }
              #blog_date {
                font-family: $font2; font-size: 1rem; color: #666;
                display: inline-block; padding: 5% 5%;
              }
              #blog_s {
                position: absolute; top: 0; right: 0; margin: 5% 5% 0 0;
              }
            }
          }
          #blog1 {
            transition: all .2s ease-in-out;
            &:hover {transform: scale(1.1);}
          }
          #blog2 {
            transition: all .2s ease-in-out;
            &:hover {transform: scale(1.1);}
          }
        }
      }
    }
  }
}

footer {
  .bottom {
    padding: 0 13.54% 0 13.54%; background: #f5f5f5;
    #bottom_link {
      display: flex; gap: 3%; padding: 1% 0 1% 0;
      border-bottom: 1px solid #d9d9d9; justify-content: flex-start;
      li {
        a {
          font-family: $font2; font-size: .9rem; color: #333;
          &:hover {color: #000; font-weight: bold;}
        }
      }
    }
    #bottom_info {
      padding: 1% 0 1% 0; display: flex; justify-content: space-between;
      #info1 {
        #address {
          font-family: $font2; font-size: .8rem; font-weight: 500; color: #666;
          line-height: 1.6;
          span {font-family: 'Arial';}
        }
      }
      #info2 {
        width: 23%;
        #links {
          display: flex; justify-content: space-between; padding-top: 1%;
          mix-blend-mode: multiply;
          li {
            margin-left: 3%;
            &:first-child img {width: 3.44rem; height: 2.44rem;}
            &:nth-child(2) img {width: 2.13rem; height: 2.44rem;}
            &:nth-child(3) img {width: 3.5rem; height: 2.44rem;}
            &:nth-child(4) img {width: 3.63rem; height: 2.44rem;}
            &:last-child img {width: 1.67vw; height: 2.44rem;}
          }
        }
      }
    }
  }

  .footer_slide {
    width: 100%; background: #d9d9d9; padding: 0 13.54%; position: relative;
    .link_swiper {
      width: 80%; overflow: hidden; padding: 1% 0 1% 1%;
      .link_wrapper {
        display: flex; align-items: center; mix-blend-mode: multiply;
        .link_slide {flex-shrink: 0;}
      }      
    }
    .button {
      width: 5%; border: 1px solid #34592E; padding: .3%;
      border-radius: 30px; position: absolute; bottom: 24.2%; right: 14.4%;
      display: flex; justify-content: space-around;
      .swiper-button-prev {cursor: pointer;}
      .swiper-button-next {cursor: pointer;}    
    }
  } 
}

@media (max-width: 1024px){
  header {
    .top {
      padding: 1.5%;
      #logo {
        width: 15%;
        a {
          img {width: 90%;}
        }
      }
      #gnb {display: none;}
      #search {display: none;}
      .mobile_btn {display: block;}
      .mobile_gnb {
        #mg_area {display: flex;}
      }
    }
  }
  main {
    .swiper {
      height: 100%;
      .swiper-wrapper {
        .swiper-slide {
          #text {
            left: 11.6%; padding: 2% 2%;
            #slide_title {font-size: 3.5vw;}
            #slide_content {font-size: 3.5vw;}
          }
        }
      }
      .pager {
        bottom: 2%; height: 4%;
        span {width: 1vw; height: 1vw;}
      }
      .bottom_menu {
        width: 50vw;
        ul {
          li {
            a {font-size: 1.8vw; line-height: 1.5;}
          }
        }
      }
      .right_menu {
        top: 25%; right: 3%;
        ul {
          li {
            width: 5vw; height: 5vw;
            img {
              width: 3.6vw;
            }
          }
        }
      }
    }
    .notice_area {
      padding: 4rem 1rem;
      h2 {font-size: 3rem;}
      h3 {font-size: 2rem; margin-bottom: 1.25em;}
      label {
        border-radius: 8px 8px 0 0; font-size: 2.4vw; width: 20%; padding: .5em 0;
      }
      .tab_contents {
        border-radius: 0 0 8px 8px; padding: 0 1.5rem;
        #notice {
          #notice1 {
            flex-wrap: wrap; justify-content: space-around;
            ul {
              width: 45%;
            }
          }
          #notice2 {
            flex-wrap: wrap; justify-content: space-around;
            ul {
              width: 45%;
            }
          }
          #notice3 {
            flex-wrap: wrap; justify-content: space-around;
            ul {
              width: 45%;
            }
          }
          #notice4 {
            flex-wrap: wrap; justify-content: space-around;
            ul {
              width: 45%;
            }
          }
          #notice_thumb {
            img {
              width: 41.3vw; padding: 0;
              border-radius: 10px; margin: 2rem 0 2rem 0; border: 1px solid #666;
            }
          }
          #notice_title {font-size: 2.3vw; line-height: 1.4;}
          #notice_date {font-size: 2.1vw; margin-bottom: 5%;}          
        }
        #logo_char img {
          width: 12vw; position: absolute; top: 4vh; left: 24vw;
        }
      }
    }
    .work {
      padding: 4rem 1rem;
      #work_title {
        h2 {font-size: 3rem;}
        h3 {font-size: 2.8vw;}
        span {font-size: 2vw;}
      }
      #work_link {
        margin-top: 5%;
        ul {
          flex-wrap: wrap; justify-content: space-around;
          li {margin-bottom: 5%;}
          #link1 {
            a {
              position: relative; width: 28vw;
              img {width: 100%;}
              #work1_on {
                position: absolute; top: 0; left: 0; opacity: 0; transition: all .3s ease-in-out;
                &:hover {opacity: 1;}
              }
            }
          }
          #link2 {
            a {
              position: relative; width: 28vw;
              img {width: 100%;}
              #work2_on {
                position: absolute; top: 0; left: 0; opacity: 0; transition: all .3s ease-in-out;
                &:hover {opacity: 1;}
              }
            }
          }
          #link3 {
            a {
              position: relative; width: 28vw;
              img {width: 100%;}
              #work3_on {
                position: absolute; top: 0; left: 0; opacity: 0; transition: all .3s ease-in-out;
                &:hover {opacity: 1;}
              }
            }
          }
          #link4 {
            a {
              position: relative; width: 28vw;
              img {width: 100%;}
              #work4_on {
                position: absolute; top: 0; left: 0; opacity: 0; transition: all .3s ease-in-out;
                &:hover {opacity: 1;}
              }
            }
          }
          #link5 {
            a {
              position: relative; width: 28vw;
              img {width: 100%;}
              #work5_on {
                position: absolute; top: 0; left: 0; opacity: 0; transition: all .3s ease-in-out;
                &:hover {opacity: 1;}
              }
            }
          }
        }
      }
    }
    .sitelink {
      padding: 4rem 1rem;
      #sitelink_title {
        h2 {font-size: 3rem;}
        h3 {font-size: 2rem;}
      }
      #link_area {
        ul {
          flex-wrap: wrap; justify-content: space-around;
          li {
            width: 25%;
            a {
              width: 100%;
              img {
                width: 100%;
              }
              #link_text {width: 100%; line-height: 2.4rem; font-size: 3vw;}
            }
          }
        }
      }
    }
    .media {
      padding: 4rem 0 4rem 0; flex-wrap: wrap; justify-content: space-around;
      #video_area {
        width: 90%; max-width: none; margin-bottom: 4%;
        iframe {width: 100%; height: 50vw;}
        h3 {width: 70vw; font-size: 2.5vw; margin: 1.4% 0 0 20%;}
        &::before {width: 86%; height: 50vw; top: 9%; left: 11.8vw;}
      }
      #right_area {
        width: 90%;
        #media_title {
          margin: 3% auto 7%;
          h2 {
            font-size: 3rem;
            a {
              width: 13vw;
              img {
                width: 4vw;
              }
            }
          }
        }
        #blog {
          ul {
            flex-wrap: wrap;
            li {
              width: 45%;
              a {
                #blog_title {
                  font-size: 2.3vw;
                }
                #blog_date {
                  font-size: 1.5rem;
                }
                #blog_s {
                  width: 15%;
                }
              }
            }
          }
        }
      }      
    }
  }
  footer {
    .bottom {
      padding: 1rem;
      #bottom_link {
        padding-top: 0; flex-wrap: wrap;
        li {
          a {
            font-size: 1.1rem;
          }
        }
      }
      #bottom_info {
        padding: .5rem 0 0 0; flex-wrap: wrap;
        #info1 {
          #address {
            font-size: 1rem;
          }
        }
        #info2 {
          #links {
            width: 100%; padding: .4% 2% 0 0;
            li {
              margin-left: 3%;
              &:first-child img {width: 1.72rem; height: 1.22rem;}
              &:nth-child(2) img {width: 1.065rem; height: 1.22rem;}
              &:nth-child(3) img {width: 1.75rem; height: 1.22rem;}
              &:nth-child(4) img {width: 1.815rem; height: 1.22rem;}
              &:last-child img {width: .835vw; height: 1.22rem;}
            }
          }
        }
      }      
    }
    .footer_slide {
      padding: 1%;
      .link_swiper {
        width: 80%; padding: 0;
      }
      .button {width: 8%; right: 5%;}
    }
  }
}
@media (max-width: 430px){
  header {
    .top {
      #logo {
        width: 15%;
      }
      .mobile_btn {
        width: 8%; top: 10%; right: 2%;
      }
      .mobile_gnb {
        #mg_area {
          width: 40%; right: -40%;
          .mobile_menu {
            font-size: 1.3rem;
            .mobile_sub {
              font-size: 1rem;
            }
          }
        }
      }
    }    
  }
  main {
    .swiper {
      .swiper-wrapper {
        .swiper-slide {
          #text {
            border-radius: 10px;
            #slide_title {font-size: 4vw;}
            #slide_content {font-size: 2.9vw;}
          }
        }
      }
      .bottom_menu {
        width: 70%;
        ul {
          li {
            border: none;
            border-radius: 5px; padding: 0 4%;
            a {font-size: 2.2vw; margin: 0; line-height: 2.5;}
          }
        }
      }
    }
    .notice_area {
      padding: 2rem 1rem;
      h2 {font-size: 6vw;}
      h3 {font-size: 4vw; margin-bottom: 1.25em;}
      label {
        border-radius: 5px 5px 0 0; font-size: 3.5vw; width: 50%; padding: .5em 0;
      }
      .tab_contents {
        border-radius: 0 0 5px 5px;
        #notice {
          #notice1 {
            flex-wrap: wrap; justify-content: space-around;
            ul {width: 90%;}
          }
          #notice2 {
            flex-wrap: wrap; justify-content: space-around;
            ul {width: 90%;}
          }
          #notice3 {
            flex-wrap: wrap; justify-content: space-around;
            ul {width: 90%;}
          }
          #notice4 {
            flex-wrap: wrap; justify-content: space-around;
            ul {width: 90%;}
          }
          #notice_thumb {
            img {
              width: 100%; padding: 0;
              border-radius: 10px; margin: 2rem 0 2rem 0; border: 1px solid #666;
            }
          }
          #notice_title {font-size: 4.2vw; line-height: 1.4;}
          #notice_date {font-size: 3.5vw; margin-bottom: 5%;}          
        }
        #logo_char {
          img {width: 12vw; position: absolute; top: 3vh; left: 30vw;}
        }
      }
    }
    .work {
      padding: 2rem 1rem;
      #work_title {
        h2 {font-size: 6vw}
        h3 {font-size: 4.3vw; margin: 5% auto 5%; width: 74%; line-height: 1.3;}
        span {font-size: 3.5vw; display: inline-block; width: 70%;}
      }
      #work_link {
        ul {
          #link1 {
            a {
              position: relative; width: 40vw;
              img {width: 100%;}
              #work1_on {
                position: absolute; top: 0; left: 0; opacity: 0; transition: all .3s ease-in-out;
                &:hover {opacity: 1;}
              }
            }
          }
          #link2 {
            a {
              position: relative; width: 40vw;
              img {width: 100%;}
              #work2_on {
                position: absolute; top: 0; left: 0; opacity: 0; transition: all .3s ease-in-out;
                &:hover {opacity: 1;}
              }
            }
          }
          #link3 {
            a {
              position: relative; width: 40vw;
              img {width: 100%;}
              #work3_on {
                position: absolute; top: 0; left: 0; opacity: 0; transition: all .3s ease-in-out;
                &:hover {opacity: 1;}
              }
            }
          }
          #link4 {
            a {
              position: relative; width: 40vw;
              img {width: 100%;}
              #work4_on {
                position: absolute; top: 0; left: 0; opacity: 0; transition: all .3s ease-in-out;
                &:hover {opacity: 1;}
              }
            }
          }
          #link5 {
            a {
              position: relative; width: 40vw;
              img {width: 100%;}
              #work5_on {
                position: absolute; top: 0; left: 0; opacity: 0; transition: all .3s ease-in-out;
                &:hover {opacity: 1;}
              }
            }
          }
        }
      }
    }
    .sitelink {
      padding: 2rem 1rem;
      #sitelink_title {
        h2 {font-size: 6vw;}
        h3 {font-size: 4.3vw;}
      }
      #link_area {
        ul {
          li {
            width: 40%;
            a {
              #link_text {font-size: 4.5vw; line-height: 1.5;}
            }
          }
        }
      }
    }
    .media {
      padding: 2rem 0 2rem 0;
      #video_area {
        h3 {font-size: 4.3vw;}
      }
      #right_area {
        #media_title {
          margin-bottom: 1.5%;
          h2 {
            font-size: 6vw;
            a {
              width: 15vw;
              img {width: 5vw;}
            }
          }
        }
        #blog {
          ul {
            li {
              border-radius: 10px;
              a {
                border-radius: 10px;
                #blog_title {font-size: 2.6vw;}
                #blog_date {font-size: 2.4vw;}
              }
            }
          }
        }
      }
    }
  }
  footer {
    .bottom {
      padding: .5rem;
      #bottom_link {
        li {
          a {font-size: 2.1vw;}
        }
      }
      #bottom_info {
        #info1 {
          #address {
            font-size: 2.1vw;
          }
        }
        #info2 {
          width: 50%;
          #links {
            li {
              &:first-child img {width: 1.72rem; height: 1.22rem;}
              &:nth-child(2) img {width: 1.065rem; height: 1.22rem;}
              &:nth-child(3) img {width: 1.75rem; height: 1.22rem;}
              &:nth-child(4) img {width: 1.815rem; height: 1.22rem;}
              &:last-child img {width: 3.835vw; height: 1.22rem;}
            }
          }
        }
      }
    }
    .footer_slide {
      .link_swiper {
        .link_wrapper {
          .link_slide {
            width: 20%; padding: 3% 0;
            img {width: 100%;}
          }
        }
      }
    }
  }
}